
  
  /* CSS for dropdown menu */
  .dropdown-menu {
    background-color: #f8f9fa; 
  }
  
  /* CSS for dropdown items */
  .dropdown-item {
    color: #343a40; 
    display: block;
    width: 100%;
    
  }
  
  /* CSS for forms container */
  .forms-container {
    margin-top: 20px; 
  }

  .dropdown-button{
    background-color: #fff; 
    border: none; 
    color: white; 
    margin-bottom: 50px;
  }

  