body, h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
  }
  
  /* Set font family and size */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
  }
  
  /* Style for the entire App */
  .App {
    width: 100%;
    max-width: 95%; /* Adjust as needed */
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style for the main heading */
  h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #F9B120;
    text-align: center;
  }
