label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  align-self: center;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #FC8510;
  border-radius: 5px;
  box-sizing: border-box;
}
input[type="text"]:hover,
input[type="number"]:hover{
  border-color: #F4EBB8; /* Change border color on hover */
}

.score-container {
  margin-top: 20px;
}

.score-container h2 {
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

/* Style for the ResetForm component */
/* You can add more specific styling here if needed */
.reset button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #F9C74F;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.reset button:hover {
  background-color: #F4EBB8;
}
.main-container button{
  display: inline-block;
  padding: 10px 20px;
  background-color: #F9C74F;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.main-container button:hover {
  background-color: #F4EBB8;
}

.preview-container {
  display: flex; /* Align items horizontally */
  flex-direction: row;
  align-items: center; /* Align items vertically */
}
.preview-container h3 {
  margin-right: 10px; /* Adjust spacing between items */
}
.score-container {
  display: flex;
  flex-direction: column; /* Display elements in a column */
  align-items: center; /* Align items to the start of the column */
  margin-top: 20px;
  
}

.score-container h2 {
  margin-bottom: 20px; /* Add space below the H2 tag */
}

.score-container p {
  font-size: 20px;
  
}
.score-container img {
  width: 100px;
  height: auto;
  display: block; /* Set display to block */
  margin: 0 auto; /* Center align horizontally */
  margin-top: 10px; /* Add some space above the image */
}




.preview-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width:300px;
  margin-left: 150px;
}

.preview-container img{
  width: 100px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 10px;

}

/* tooltip css*/

.tooltip1  {
  
  font-size: 12px; 
  padding: 5px 10px; 
  margin-left: 20px; 
  margin-bottom: 5px;
}

.foodtip1{
  display: flex;
  align-items: left;
  
}



.input-wrapper .tooltip2 {
  margin-left: 10px; 
  margin-bottom: 5px;
}

/* non - dairy bev tooltip css */


.form-group {
  
  align-items: center;
  margin-bottom: 10px; 
}

.form-group label {
  margin-right: 10px;
  align-self: center;
}

.form-group .tooltip2 {
  margin-left: 10px; 
  margin-bottom: 5px;
}

.non-dairy-fvnl{
  display: flex;
  align-items: left;
  
}
